# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://knnhbasqcukawhugfcow.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtubmhiYXNxY3VrYXdodWdmY293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5ODkxNjksImV4cCI6MjA5NTU2NTE2OX0.Umi_r26fE7v8v1IBXTAB3FWmbvIu0QEz4FaEo2dzd6A
GOOGLE_CLOUD_VISION_KEY=AQ.Ab8RN6KDiYugXLUISz2CR5hYXTibwps-omKoxvDhDOde5U1BLQ